[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiokafka = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-aiohttp = "*"
shared = {path = "./../shared"}

[dev-packages]

[requires]
python_version = "3.10"
