/producer/.pytest_cache/
/shared/shared.egg-info/
/shared/website_check_result.egg-info/
/shared/build/
/producer/tests/.pytest_cache/
/resources/certificates/ca.pem
/resources/certificates/service.cert
/resources/certificates/service.key
